.Conectar-contenido{
    border: 1px solid #128003;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: #00000080;
    padding: 20px 50px;
}

.Conectar{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}

#Conectar:target{
  opacity:1;
  pointer-events:auto;
}

#Conectar-contenido.form .item input {
  width: 200px;
/ * Establecer el ancho apropiado * / border: 0;
/ * Primero cancele el borde, para que pueda modificar el ancho del borde inferior debajo * / border-bottom: 5 px solid white;
/ * Modificar el límite inferior para mostrar el efecto de línea horizontal * / font-size: 18 px;
/ * Aumentar el tamaño de fuente de forma adecuada * / background: #ffffff00;
/ * Establecer el cuadro de entrada en transparente * / color: white;
/ * El color del texto anterior se establece en blanco, pero el color del marcador de posición debe establecerse por separado * / padding: 5 px 10 px;
/ * Para que el contenido del marcador de posición no se muestre en la cuadrícula superior, aumente el borde interno * /
}

.form .item i {
    color: white;
    font-size: 18px;
}

.Conectar-contenido a{
    position: absolute;
    top: 220px;
    right: 500px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

.Conectar-contenido h1{
    color: #FFFFFF;
}