.containermonitor{
    position: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.columna1 {
    width: 300px;
    height: 380px;
    position:fixed;
    left: 18%;
    top:25%;
    text-align:center;
    border: 2px solid #428713;
}

.columna2 {
    width: 300px;
    height: 380px;
    position:fixed;
    left: 65%;
    top:25%;
    text-align:center;
    border: 2px solid #428713;
}

.columna3 {
    width: 200px;
    height: 200px;
    position:fixed;
    left: 45%;
    top:35%;
    text-align:center;
}

.valores{
    text-align: center;
}

.manual {
    position:absolute;
    left: 16%;
    top:68%;
    text-align:center;
}

.alarma {
    position:absolute;
    left: 51%;
    top:68%;
    text-align:center;
}

.botonNormal{
    padding: 11px 11px;
    background-color: gray;
}

.botonOrange{
    padding: 11px 11px;
    background-color: orange;
}

.botonYellow{
    padding: 11px 11px;
    background-color: yellow;
}

.botonBlack{
    padding: 11px 11px;
    background-color: black;
}

.botonRed{
    padding: 11px 11px;
    background-color: red;
}

.botonWhite{
    padding: 11px 11px;
    background-color: white;
}

.configcon {
     position:absolute;
     left: 24%;
     top:87%;
     align-items: center;
     font-size: 16px;
     border: #428713 solid 1px;
     background-color: #428713;
     color: #fff;
     padding: 6px 40px;
     transition: all 0.3s ease-in;
 }

.configcon:hover {
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    color: #fff;
    transition: all 0.3s ease-in;
}

.graficaval {
    font-family: 'Oswald', sans-serif;
    text-decoration:none;
    margin-top: 25px;
    margin-bottom: 0;
    color: #128003;
  }

.pump {
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    margin-top: 25px;
    margin-bottom: 0;
    color: #128003;
  }
