{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Grafica en tiempo real</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css" />
    <link
      rel="stylesheet"
      href="{% static 'css/styles2.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/stylemonitor.css' %}"
      type="text/css"
    />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- jQuery base library needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  </head>
  <body>
    <figure class="highcharts-figure">
      <div id="container"></div>
      <input class="PV1" type="hidden" id="PV1" value={{valorPV1}} />
      <input class="SV1" type="hidden" id="SV1" value={{valorSV1}} />
      <input class="OUT1" type="hidden" id="OUT1" value={{valorOUT1}} />
      <input class="P1" type="hidden" id="P1" value={{valorP1}} />
      <input class="I1" type="hidden" id="I1" value={{valorI1}} />
      <input class="D1" type="hidden" id="D1" value={{valorD1}} />
    </figure>

    <script type="application/javascript">
        var $ = jQuery.noConflict()
        var PV1 = document.getElementById("PV1").getAttribute("value");
        var SV1 = document.getElementById("SV1").getAttribute("value");
        var OUT1 = document.getElementById("OUT1").getAttribute("value");
        var P1 = document.getElementById("P1").getAttribute("value");
        var D1 = document.getElementById("I1").getAttribute("value");
        var I1 = document.getElementById("D1").getAttribute("value");

        Highcharts.chart('container', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var seriesPV1 = this.series[0];
                        var seriesSV1 = this.series[1];
                        var seriesOUT1 = this.series[2];
                        var seriesP1 = this.series[3];
                        var seriesI1 = this.series[4];
                        var seriesD1 = this.series[5];

                        setInterval(function () {
                            $.ajax({
                                url: window.location.pathname,
                                type: 'POST',
                                data: {
                                'opcion': 'Graficando'
                                },
                                dataType: 'json',
                                success: function (response){

                                },
                                error: function(error){
                                    console.log(error);
                                }
                            }).done(function (data) {
                                var x = (new Date()).getTime(); // current time
                                
                                if (PV1 == 'activate') {
                                    seriesPV1.addPoint([x, data.yPV1], true, true);
                                }
                                else {
                                    seriesPV1.removePoint([x, data.yPV1], true, false);
                                }

                                if (SV1 == 'activate') {
                                    seriesSV1.addPoint([x, data.ySV1], true, true);
                                }
                                else {
                                    seriesSV1.removePoint([x, data.ySV1], true, true);
                                }

                                if (OUT1 == 'activate') {
                                    seriesOUT1.addPoint([x, data.yOUT1], true, true);
                                }
                                else {
                                    seriesOUT1.removePoint([x, data.yOUT1], true, true);
                                }

                                if (P1 == 'activate') {
                                    seriesP1.addPoint([x, data.yP1], true, true);
                                }
                                else {
                                    seriesP1.removePoint([x, data.yP1], true, true);
                                }

                                if (I1 == 'activate') {
                                    seriesI1.addPoint([x, data.yI1], true, true);
                                }
                                else {
                                    seriesI1.removePoint([x, data.yI1], true, true);
                                }

                                if (D1 == 'activate') {
                                    seriesD1.addPoint([x, data.yD1], true, true);
                                }
                                else {
                                    seriesD1.removePoint([x, data.yD1], true, true);
                                }

                            });
                        }, 5000);
                    }
                }
            },

            time: {
                useUTC: false
            },

            title: {
                text: 'Grafica en tiempo real'
            },

            accessibility: {
                announceNewData: {
                    enabled: true,
                    minAnnounceInterval: 15000,
                    announcementFormatter: function (allSeries, newSeries, newPoint) {
                        if (newPoint) {
                            return 'New point added. Value: ' + newPoint.y;
                        }
                        return false;
                    }
                }
            },

            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },

            yAxis: {
                title: {
                    text: 'Valores'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },

            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
            },

            legend: {
                enabled: false
            },

            exporting: {
                enabled: false
            },

            series: [{
                name: 'PV1 (mA)',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }, {
                name: 'SV1 (mA)',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }, {
                name: 'OUT1 %',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }, {
                name: 'P1',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }, {
                name: 'I1',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }, {
                name: 'D1',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }
            ]
        });
    </script>
  </body>
</html>
