{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SoftControl 2.0</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
</head>

<body>
<header class="hero">
    <div class="container">
        <section class="hero_container">
            <div class="hero_text">
                <h1 class="hero_title">SoftControl</h1>
                <h2 class="hero_subtitle">Version 2.0</h2>
                <a href="Monitor" class="hero_cta">Conectar</a>
            </div>
        </section>
    </div>

    <div class="hero_wave" style="overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</header>
</body>
</html>
