{% extends "base.html" %}

{% block title %} SoftControl 2.0 - Monitor{% endblock %}

{% block content %}
    <form name="frmMonitor" method="POST">
        {% csrf_token %}
        <div class="containermonitor">
            <section class="columna1">
                <br>
                <h1>Controlador 1</h1>
                <br><br>
                <label class="pump">PV </label><input class="valores PV1" name="PV1" value="{{pv1}}" size="10" maxlength="10" disabled>
                <br><br>
                <label class="pump">SV </label><input class="valores SV1" name="SV1" value="{{sv1}}" size="10" maxlength="10" disabled>
                <br><br>
                <label class="pump">OUT(%) </label><input class="valores OUT1" name="OUT1" value="{{out1}}" size="10" maxlength="10" disabled>

                <section class="manual">
                    <h1>MANUAL</h1>
                    <button class="{{manual1}}" name="botonmanual1" disabled></button>
                </section>

                <button class="configcon" type="submit" name="configcon1" onclick="javascript:window.open(location.href='../../Monitor/Usuario','','width=800,height=300,left=100,top=100,toolbar=yes');");">Configurar</button>
            </section>


            <section class="columna2">
                <br>
                <h1>Controlador 2</h1>
                <br><br>
                <label class="pump">PV </label><input class="valores PV2" name="PV2" value="{{pv2}}" size="10" maxlength="10" disabled>
                <br><br>
                <label class="pump">SV </label><input class="valores SV2" name="SV2" value="{{sv2}}" size="10" maxlength="10" disabled>
                <br><br>
                <label class="pump">OUT(%) </label><input class="valores OUT2" name="OUT2" value="{{out2}}" size="10" maxlength="10" disabled>

                <section class="manual">
                    <h1>MANUAL</h1>
                    <button class="{{manual2}}" name="botonmanual" disabled></button>
                </section>

                <button class="configcon" type="submit" name="configcon2" onclick="javascript:window.open(location.href='../../Monitor/Usuario','','width=800,height=300,left=50,top=50,toolbar=yes');">Configurar</button>
            </section>

            <section class="columna3">
                <h1>{{lectura}}</h1>
                <br>

                <section class="cascada">
                    <h1>CASCADA</h1>
                    <button class="{{cascada}}" name="botonalarma" disabled></button>
                </section>
                
            </section>
        </div>
    </form>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- jQuery base library needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        var $ = jQuery.noConflict()
        setInterval(function () {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                'opcion': 'Recargando'
                },
                dataType: 'json',
                success: function (response){
                    
                },
                error: function(error){
                    console.log(error);
                }
            }).done(function (response) {
                $(".PV1").val(response['pv1']);
                $(".SV1").val(response['sv1']);
                $(".OUT1").val(response['out1']);
                $(".PV2").val(response['pv2']);
                $(".SV2").val(response['sv2']);
                $(".OUT2").val(response['out2']);
                
            });
        }, 100000);
    </script>

{% endblock %}