{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}" type="text/css"/>
</head>

<body>
<!-- Cabecera -->
<div class="back">
    <nav class="menu">
        <ul class="menu-horizontal">
            <li><a href="">Configurar</a>
                <ul>
                    <li><a href="../../Monitor">Conectar/Desconectar</a></li>
                    <li><a href="../../Controlador/TipoControl">Tipo de Control</a></li>
                </ul>
            </li>

            <li><a href="">Datos</a>
                <ul>
                    <li><a href="../../Archivo/Exportar">Exportar a Excel</a></li>
                </ul>
            </li>

            <li><a href="">Ver</a>
                <ul>
                    <li><a href="">Reporte Mantenimiento</a></li>
                    <li><a href="../../Ayuda/Manual_Controlador">Manual Controlador MC5X38</a></li>
                </ul>
            </li>

            <li><a href="">Ayuda</a>
                <ul>
                    <li><a href="../../Ayuda/Manual_Usuario">Manual de Usuario</a></li>
                    <li><a href="../../Ayuda/Acercade">Acerca De</a></li>
                </ul>
            </li>

        </ul>
    </nav>
</div>


<!-- Contenido cambiante -->
<div class="configuracion">
{% block content %} {% endblock %}
</div>

<!-- Pie -->
<div class="pie">
    <div class="pie-box">
        <tr>
            <button class="send" onclick="location.href='../../Monitor/Monitor'">MONITOR</button></td>
            <button class="send" onclick="location.href='../../Monitor'">GRAFICA</button></td>
            <button class="send" onclick="location.href='../../Alarma/Evento'">ALARMA</button></td>
            <button class="send" onclick="location.href='../../Controlador/Proceso'">PROCESO</button></td>
        </tr>
    </div>
</div>
</body>
</html>